@import url("https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@700&family=Coming+Soon&family=Lora&family=Montserrat:wght@300&family=Open+Sans+Condensed&family=Roboto:wght@300&display=swap");
@import url("components/container.css");
@import url("components/group.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/cards.css");

body{
	font-family: 'Lora', serif;
	font-size:15px;
	margin: 0px;
	font-weight: bolder;
	line-height: 25Px;
	background-color: #FFFFFF
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 64px;
}


h2 {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
letter-spacing: 1px;
line-height: 15px;
color:#2b5d2f;
}

.soustitre{
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 15px;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

p,ul {
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
}


a{
	text-decoration: none;
}

.description {
	height: 400px;
	width: auto;
	border-radius: 4px;
}

